.carrito__container {
  display: flex;
  flex-flow: row nowrap;
  height: 90vh;
}

.carrito__producto {
  display: flex;
  flex-flow: row nowrap;
  background-color: #393e46;
  margin: 5px;
  border-radius: 20px 20px 20px 20px;
}
.carrito__producto--imagen {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
}

.carrito__producto--titulo {
  width: 60%;
  margin: 5px 10px 5px 10px;
}
