.root.dialog-open { 
    overflow: hidden; 
    height: 100vh;
}

.modalPopup__fondo {
    position: absolute;
    top: 0px;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0px;
    z-index: 1000;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 173, 181, 0.7);
  }
  .modalPopup__cuadro {
    width: 60%;
    min-width: 700px;
    padding: 0px;
    margin: 20px 0px 20px 0px;
    z-index: 1001;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background: #00adb5;
    box-shadow:  25px 25px 36px #00989f,
                -25px -25px 36px #00c2cb;
  }
  .modal__producto{
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }

  .modal__producto--imagen{
      max-width: 320px;
      border-radius: 25px 0px 0px 25px;
      object-fit: cover;
  }
  .modal__producto--contenedorDatos{
    min-width: 320px;
    width: 48%;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .modal__producto--titulo{
    width: 100%;
  }
  .modal__producto--descripcion{
    width: 100%;
    
  }
  .modal__producto--precio{
      width: 100%;
      text-align: right;
  }
  
  /* .scale-in-tr {
    animation: scale-in-tr 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes scale-in-tr {
    0% {
      transform: scale(0);
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      transform: scale(1);
      transform-origin: 100% 0%;
      opacity: 1;
    }
  }
  
  .scale-down-tr {
    animation: scale-down-tr 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @keyframes scale-down-tr {
    0% {
      transform: scale(1);
      transform-origin: 100% 0%;
    }
    100% {
      transform: scale(0.5);
      transform-origin: 100% 0%;
    }
  }
  .scale-out-tr {
    animation: scale-out-tr 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
  @keyframes scale-out-tr {
    0% {
      transform: scale(1);
      transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      transform: scale(0);
      transform-origin: 100% 0%;
      opacity: 1;
    }
  } */




  .fade-in-fwd {
	animation: fade-in-fwd 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @keyframes fade-in-fwd {
    0% {
      transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }
  

  .fade-out-bck {
	animation: fade-out-bck 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @keyframes fade-out-bck {
    0% {
      transform: translateZ(0);
      opacity: 1;
    }
    100% {
      transform: translateZ(-80px);
      opacity: 0;
    }
  }
  

  @media (max-width: 750px) {
    .modalPopup__cuadro {
      min-width: 320px;
    }
    .modal__producto--imagen{
        min-width: 100%;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }
    .modal__producto{
        justify-content: center;
    }
    .modal__producto--contenedorDatos{
min-width: 280px;
    }
  }