.root {
  margin: 0px;
  background-color: #636871;
  font-family: "Roboto", sans-serif;
}

/* https://colorhunt.co/palette/2763 */
/* https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=00adb5&secondary.color=393e46&primary.text.color=222831&secondary.text.color=eeeeee */
/* 
<color name="primaryColor">#00adb5</color>
<color name="primaryLightColor">#5cdfe7</color>
<color name="primaryDarkColor">#007d85</color>
<color name="secondaryColor">#393e46</color>
<color name="secondaryLightColor">#636871</color>
<color name="secondaryDarkColor">#13181f</color>
<color name="primaryTextColor">#222831</color>
<color name="secondaryTextColor">#eeeeee</color> 
*/
